
<div>
	<h1 id = "failure_message">You Can't Win.</h1>
<div>


<div>

	<input type = "submit" class = "you_first" value = "You First" formmethod="post" formaction="/">

	<div class = "board_container">
		<table class="board">
			<%count = 0%>
		  <% (1..@game.board.size).each do |x| %>
		  	<tr>
		      <% (1..@game.board.size).each do |y| %>
		        <td data-index = "<%=count%>"></td>
		        <%count+=1%>
		      <%end%>
		    </tr>
		  <%end%>
		</table>
	</div>
	
	<a href="/"><input type = "submit" class = "forfeit" value = "I Give Up" formmethod="get" formaction="/"></a>
</div>


